html, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;

}
h1, h3 {
    font-style: normal;
    font-weight: 300;
    line-height: 1.1;
    letter-spacing: 0;
    text-align: center;
}
h1 {
    font-size: 42px;
    margin: 0;
}
h3 {
    font-size: 30px;
}
#main {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3333;
    letter-spacing: 0.5px;
    text-align: left;
    color: #535353;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background: #FFffff;
}
.padding30 {
    padding: 30px;
}
.image-wrapper img {
    margin-bottom: 0;
    display: block;
    width: 800px;
    height: 600px;
}
.wrapper {
    background-color: #212F37;
    color: white;
}
.list{
    display: flex;
}
.list-margin{
    margin: 0 auto;
}
.form-wr {
    margin: 30px auto;
    width: 370px;
}
.input {
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #a0b3b0;
    background-color: #212F37;
    color: white;
}

.text {
    padding: 10px 6px;
}
.submit {
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    width: 100%;
    margin: 5px;
    color: white;
    background-color: #40C781;
    box-shadow: 0 -3px #35A76E inset;
    transition: 0.2s;
}
input:focus.input, textarea:focus.input {
    outline: none;
    border-color: #40C781;
}
input:hover.input, textarea:hover.input {
    outline: none;
    border-color: #40C781;
}
input:hover.submit {
    background: #35A76E;
    outline: none;
}
input:active.submit {
    background: #21935A;
    box-shadow: 0 3px #21935A inset;
}
input:focus.submit{
    outline: none;
}














